@use './Init.scss' as I;

#Clicker {
    display: flex;
    flex-grow: 1;
    justify-self: center;

    width: 100%;
    height: 90%;
    align-self: center;
    flex-direction: row;
    gap: 102px;

    .ClickerArea {
        width: 45%;
    }

    .Menu{
        background-color: I.$color-bg;
        width: 60%;
        border: 2px solid I.$color-border;
        border-radius: 48px;
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding: 40px;
        max-height: 100%;

        .Btn {
            @include I.clickerMenu-button-design;
        }
    }   
}

.BtnLevel {
    background: url('../IMG//UI/table1.png'); 
    background-size: auto; 
    background-position: center; 
    background-repeat: no-repeat; 
    overflow: visible; 

    &:active{
        filter: brightness(0.8);
        background: I.$color-active;
    }
}
