.clickerarea{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 45%;

    & img{
        user-select: none;
    }
}

.monster{
    margin-bottom: 180px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.monsterName{
    font-size: 24px;
    padding: 10px 20px;
    background-color: orange;
    border-radius: 20px;
    border-color: black;
}

.monsterImg{
    width: 60%;
    z-index: 2;
    // transition: 1s;
}

.island{
    top: 25%;
    position: absolute;
    width: 500px;
    z-index: 1;
}
