@use './Init.scss' as I;

#Clicker {
    display: flex;
    flex-grow: 1;
    justify-self: center;
    justify-content: space-evenly;
    width: 100%;
    height: 90%;
    align-self: center;
    margin: 0 100px;

    .ClickerArea {
        width: 45%;
    }

    .Menu{
        background-color: I.$color-bg;
        width: 60%;
        border: 1px solid I.$color-border;
        border-radius: 6px;
        display: flex;
        flex-direction: column;
        padding: 40px;
        overflow: auto;
        max-height: 100%;
        max-width: 620px;


        .Btn {
            @include I.clickerMenu-button-design;
        }

        .BtnTriggerMenu {
            @include I.clickerMenu-button-design;
            border-radius: 4px;
            display: flex;
            
        }
    }   
}

@mixin MenuPlusMinus {
    display: flex;
    flex-direction: column;
    gap: 4px;
    box-shadow: 2px 2px 1px 1px black;
    border-radius: 8px;
    padding: 20px;
    border: 1px solid black;

    .Button {
        background: url('../IMG//UI/table1.png'); 
        background-size: auto; 
        background-position: center; 
        background-repeat: no-repeat; 

        &:active {
            filter: brightness(0.8);
            background: I.$color-active;
        }
    }
}


.UpgradesMenu {
    height: 190px;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    gap: 16px;

    .MenuPlusMinus1 {
        @include MenuPlusMinus;
    }
    
    .MenuPlusMinus2 {
        @include MenuPlusMinus;

    }
}

.MenuDown{
    margin-top: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between; 

    & p{
        margin: 0;
    }

    & img{
        width: 16px;
        transform: scaleX(-1);
    }
}

.BtnsLevel{
    position: relative;
    z-index: 3;
    display: flex;
    margin-top: 50px;
}

.BtnLevel {
    background: url('../IMG//UI/table1.png'); 
    background-size: auto; 
    background-position: center; 
    background-repeat: no-repeat; 

    &:active{
        filter: brightness(0.8);
        background: I.$color-active;
    }
}

.LevelsList {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .LevelsBox {
        padding: 24px;
        display: flex; 
        flex-direction: row;
        gap: 12px;
        flex-wrap: wrap;
        text-align: center;
        overflow: auto;
        max-height: 300px;
        border-radius: 8px;
        box-shadow: 2px 2px 1px 1px black;
        border: 1px solid black;

        .LevelSquad {
            background: url('../IMG/UI/table1.png');
            background-size: auto; 
            background-position: center; 
            background-repeat: no-repeat; 
            overflow: visible; 
            width: 24px;
            height: 20px;
            padding-top: 4px;
            border-radius: 4px;

            &:active {
                background: I.$color-active;
            }
        }
    }
}

.Link {
    color: black;
    text-decoration: none;
    max-height: min-content;

    &:hover {
        text-decoration: underline;
    }
}

.Title {
    display: flex;
    justify-content: center;
}

.clickerarea{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    & img{
        user-select: none;
    }
}

.monster{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.monsterName{
    font-size: 24px;
    padding: 10px 20px;
    background-color: orange;
    border-radius: 20px;
    border-color: black;
}

.monsterImg{
    width: 300px;
    z-index: 2;
}

.island{
    top: 40%;
    position: absolute;
    width: 400px;
    z-index: 1;
}