.clickerarea{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 45%;

    & img{
        user-select: none;
    }
}

.monster{
    margin-bottom: 180px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.monsterName{
    font-size: 24px;
    padding: 10px 20px;
    background-color: orange;
    border-radius: 20px;
    border-color: black;
    margin-left: 380px;
}

.monsterImg{
    position: absolute;
    width: 300px;
    z-index: 2;
    top: 32%;
    left: 10%;
}

.island{
    top: 38%;
    left: 6%;
    position: absolute;
    width: 400px;
    z-index: 1;
}
