@use './Init.scss' as I;

#Clicker {
    display: flex;
    justify-self: center;
    align-self: center;
    width: 95%;
    height: 90%;
    flex-direction: row;
    gap: 102px;

    .ClickerArea {
        width: 45%;
    }

    .Menu{
        background-color: I.$color-bg;
        width: 55%;
        border: 2px solid I.$color-border;
        border-radius: 48px;
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding: 40px;
        max-height: 100%;

        .Btn {
            @include I.clickerMenu-button-design;
        }
    }   
}

.BtnLevel {

    &:active{
        filter: brightness(0.8);
        background-color: I.$color-active;
    }
}
