* {
    font-family: "Squada One", sans-serif;
    font-weight: 600;
    font-style: normal;
    user-select: none;
}

@mixin Init {
    overflow-x: hidden;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}

body {
    margin: 0;

    .RootDefaultBg {
        @include Init;
        background-image: url(../IMG/bgDefault.png);
    }
    
    .RootMontainBg {
        @include Init;
        background-image: url(../IMG/bgMontain.png);
          background-size: 100vw
    }
    
    .RootVolcanoBg {
        @include Init;
        background-image: url(../IMG/bgVolcano.png);
    }

    .RootWaterBg {
        @include Init;
        background-image: url(../IMG/bgWater.png);
    }

    .RootWinterBg {
        @include Init;
        background-image: url(../IMG/bgWinter.png);
    }
}

$color-btn: rgb(114, 235, 114);
$color-border-btn: rgb(99, 148, 98);
$color-active: rgb(230, 112, 112);
$color-text: rgb(235, 235, 235);
$color-bg: rgb(250, 250, 250);
$color-border: rgb(239, 152, 39);
$color-null: rgb(85, 85, 85);

button {
    background-color: $color-btn;
    border: 2px solid $color-border-btn;
    color: $color-text;
    border-radius: 16px;
    height: 48px;
    width: 240px;
}

@mixin button-desing($color: $color-text, $bckgd-color:$color-btn, $text-size: 54px ){
    background-color: $bckgd-color;
    border-radius: 50px;
    border: 1px solid $color-border-btn;
    max-width: 280px;
    min-width: 200px;
    max-height: 120px;
    display: flex;
    justify-content: center;
    margin: auto;
    color: $color;
    padding: 30px 50px;
    font-weight: 900;
    display: flex;
    font-size: $text-size;

    &:active{
        filter: brightness(0.8);
        background-color: $color-active;
    }
}

@mixin clickerMenu-button-design {
    background-color: $color-btn;
    border-radius: 50px;
    border: 1px solid $color-border-btn;
    display: flex;
    justify-content: center;
    color: $color-text;
    padding: 30px;
    display: flex;
    font-size: 36px;
    font-weight: 900;
    height: 100px;
    width: 100%;

    &:active{
        filter: brightness(0.8);
        background-color: $color-active;
    }
}

@mixin welcome-button-design {
    background-color: $color-btn;
    border-radius: 50px;
    border: 1px solid $color-border-btn;
    display: flex;
    justify-content: center;
    color: $color-text;
    padding: 30px;
    display: flex;
    font-size: 36px;
    font-weight: 900;
    height: 120px;
    width: 280px;
    justify-self: center;
    align-self: center;

    &:active{
        filter: brightness(0.8);
        background-color: $color-active;
    }
}
