* {
    font-family: "Squada One", sans-serif;
    font-weight: 600;
    font-style: normal;
}

body {
    margin: 0;

    #Init {
        width: 100vw;
        height: 100vh;
        background-image: url(../IMG/bgIMG.png);
        background-repeat: no-repeat;
        background-position: center;
        overflow-x: hidden;
    }
}

$color-btn: rgb(114, 235, 114);
$color-border-btn: rgb(99, 148, 98);
$color-active: rgb(230, 112, 112);
$color-text: rgb(235, 235, 235);
$color-bg: rgb(250, 250, 250);
$color-border: rgb(239, 152, 39);

@mixin button-desing($color: $color-text, $bckgd-color:$color-btn, $text-size: 54px ){
    background-color: $bckgd-color;
    border-radius: 50px;
    border: 1px solid $color-border-btn;
    max-width: 280px;
    min-width: 200px;
    max-height: 120px;
    display: flex;
    justify-content: center;
    margin: auto;
    color: $color;
    padding: 30px 50px;
    font-weight: 900;
    display: flex;
    font-size: $text-size;

    &:active{
        filter: brightness(0.8);
        background-color: $color-active;
    }
}

@mixin clickerMenu-button-design {
    background-color: $color-btn;
    border-radius: 50px;
    border: 1px solid $color-border-btn;
    display: flex;
    justify-content: center;
    color: $color-text;
    padding: 30px;
    display: flex;
    font-size: 36px;
    font-weight: 900;
    height: 100px;
    width: 100%;

    &:active{
        filter: brightness(0.8);
        background-color: $color-active;
    }
}