@use './Init.scss' as I;

.Menu{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around ;
}

.logo{
    width: 400px;
    margin-top: 0 auto;
    margin-bottom: 30px;
}

.buttons{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

.butt{
    @include I.button-desing($text-size: 30px);
    margin: 20px 0;
    height: 40px;
}
