@use '../sass/Init.scss' as I;

.settings{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.butt{
    @include I.button-desing($text-size: 30px);
    margin: 20px 0;
}

.bgSetter {
    @include I.button-desing;
    height: 120px;
    width: 120px;
}

.input {
    transition: all 300ms ease;
}

.ChangeMusicBtn {
    background: url('../IMG//UI/table1.png'); 
    background-size: auto; 
    background-position: center; 
    background-repeat: no-repeat;

    &:active {
        filter: brightness(0.8);
        background: I.$color-active;
    }
}
